


input {

}




.btn {

	border-radius: $border-radius-reg;
	background: $color-white;
	border: solid 1px $color-gray-3;
	padding: 2px 4px;
	text-align: center;

	&:hover {
		background: $color-gray-1;
	}
	&:active {
		background: $color-gray-3;
	}


	&.ghost {
		background: none;

		&:hover {
			background: $color-gray-1;
		}
	}
	&.ghost-dark {
		background: none;
		border-color: $color-gray-7;
		color: $color-gray-7;

		&:hover {
			background: $color-gray-4;
		}
		&:active {
			background: $color-gray-1;
		}
	}
	&.ghost-light {
		background: none;
		border-color: $color-white;
		color: $color-white;

		&:hover {
			background: $color-white;
			color: $color-brand-interactive;
		}
		&:active {
			background: rgba( $color-white , 0.9 );
		}
	}
}


