



.add-ifttt {

	border: solid 1px $color-gray-5;
	border-radius: $border-radius-reg;
	height: 100px;

	margin-bottom: $column-gap-ifttt - 2px;
	display: inline-block;
	width: 100%;

	transition: all $time-ifttt-add-animation;

	background-image: url(../img/misc/addRelation.svg);
	background-position: center center;
	background-repeat: no-repeat;

	&:hover {

		background-color: $color-gray-1;
	
	}

	&.small {
		height: 0;
		margin-bottom: 0;
	}


}



.ifttt {

	border: solid 1px $color-gray-6;
	border-radius: $border-radius-reg;
	overflow: hidden;

	display: inline-block;
	width: 100%;
	margin-bottom: $column-gap-ifttt - 2px;

	.title {

		height: 24px;
		border-bottom: solid 1px $color-gray-6;
		background: $color-gray-3;

		.id {
			display: inline-block;
			margin-left: 10px;
			margin-top: 2px;
			font-family: $font-family-mono;
			color: $color-font-disabled;

			&:before {
				content: '#';
			}
		}
		.name {
			margin-left: 6px;
			display: inline-block;
			color: $color-font-med;
			width: calc( 100% - 90px );
		}
	}

	.program {

		padding: 10px;
		font-family: $font-family-mono;

		.program-part {
			
			min-height: 1em;
			//line-height: 1;
			padding-left: 40px;

			&:before {
				position: absolute;
				display: block;
				left: 0;
				top: 2px;
			}
		}
		.if {
			
			margin-bottom: 6px;

			&:before {
				content: 'If';
			}
		}
		.then {
			
			&:before {
				content: 'Then';
			}
		}

		.filler {
			display: inline;
		}
	}
}


.choose {

	background: $color-ifttt-default;
	border-radius: $border-radius-reg;
	padding: 2px 4px;
	font-family: $font-family-mono;
	font-size: $font-size-reg;

	margin: 0 2px 3px 2px;

	border: none;

	height: 22px;

	transition: opacity $time-reg;

	&.string {
		background: $color-ifttt-string;
		color: $color-font-light;
	}
	&.integer {
		background: $color-ifttt-integer;
		color: $color-font-light;
		
		width: 36px;

	}
	&.component {
		background: $color-ifttt-component;
		color: $color-font-light;
	}

	&.init {
		display: inline-block;
		text-align: center;
		width: 24px;
		letter-spacing: -0.27em;
		padding-right: 1em;
	}

	&:hover {
		opacity: 0.93;
	}

}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
	background-image: url(../img/misc/choice-number-arrows.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;

	width: 10px;
	height: 14px;
}



















