
* {
	position: relative;
	box-sizing: border-box;
	user-select: none;
	cursor: default;
}

.clear {
	clear: both;
}


// Main Styles ---------------------------
html, body {
	font-family: $font-family-reg;
	font-size: $font-size-reg;

	letter-spacing: 0.01em;
}


// Elements -------------------------------
section .separator {
	
	width: 100%;
	height: $height-separator;
	background: $color-gray-1;
	border-top: solid 1px $color-gray-6;
	border-bottom: solid 1px $color-gray-6;
	color: $color-font-med;

	.name {

		position: absolute;
		left: 10px;
		top: calc( 50% - 0.7em );

	}


	.connection {
		position: absolute;
		font-size: $font-size-small;
		right: 10px;
		padding-right: 10px;
		top: calc( 50% - 0.7em );

		&:after {
			content: '';
			display: block;
			position: absolute;
			right: 0;
			top: 4px;
			width: 6px;
			height: 6px;
			border-radius: 10px;
			background: $color-red;
		}

		&.connected {
			&:after {
				background: $color-green;
			}
		}
	}

	section & {
		
		height: $height-separator-small;

		.name {
			font-size: $font-size-small;
		}
	}
}
