

$margin-header-right: 	15px;
$margin-header-left: 	18px;

#project-run-controls {

	width: 100%;
	height: 50px;

	top: 40px;
	position: absolute;


	.play_btn {
		
		width: 24px;
		height: 24px;

		position: absolute;
		top: calc( 50% - 12px );
		left: $margin-header-left;
		
		background-image: url(../img/misc/play.svg);
		background-repeat: no-repeat;
		background-size: contain;

		transition: opacity $time-reg;
		opacity: 0.8;

		&.running {
			background-image: url(../img/misc/stop.svg);
		}

	}
	
	.run_desc {
		position: absolute;
		left: 50px;
		top: calc( 50% - 0.7em );
	}

	.error_warnings {
		
		font-size: $font-size-small;
		
		position: absolute;
		top: calc( 50% - 0.7em );
		right: 56px;

		padding-right: 14px;

		&:after {
			content: '';
			background-repeat: no-repeat;
			background-size: contain;

			width: 9px;
			height: 9px;
			position: absolute;
			right: 0;
			top: 2px;

		}

		&.high-alert {
			
			color: $color-alert-high;

			&:after {
				background-image: url(../img/misc/warn.svg);
			}
		}
		
		&.medium-alert {
			
			color: $color-alert-medium;

			&:after {
				background-image: url(../img/misc/warn.svg);
			}
		}

		&.low-alert {
			
			color: $color-alert-low;

			&:after {
				background-image: url(../img/misc/warn.svg);
			}
		}

		&.success-alert {
			
			color: $color-alert-success;

			&:after {
				background-image: url(../img/misc/warn.svg);
			}
		}
	}

	.icon-btn {
		
		position: absolute;
		right: $margin-header-right;
		top: calc( 50% - 12px );

	}

}



.function-buttons {

	left: $margin-header-left;
	right: $margin-header-right;	
	position: absolute;
	top: 100px;	

}