
#setup {

	border-right: 1px solid $color-gray-6;
	width: $width-project-setup;
	height: 100vh;
	background: $project-setup-color-bg;

}


header {
    -webkit-app-region:drag;

	width: 100%;
	height: $height-project-header;
	
	.title {
		padding: 3px 0 6px 70px;
		padding-left: 0;
		text-align: center;
	}
}



// Slots
#setup #components #slots {
	height: calc( 100vh - #{$height-project-header} - 30px );
	overflow-y: scroll;
}


.slot {

	overflow: hidden;
	height: $height-project-slot;
	transition: height $time-project-slot;

	&:first-child {
		.controls {
			border-top: none;
		}
	}

	.controls {

		height: $height-project-slot;
		border-top: solid 1px $color-gray-6;

		.indicator {
			position: absolute;
			width: 6px;
			height: 6px;
			left: 10px;
			top: calc( 50% - 3px );
			border: solid 1px $color-gray-6;
			border-radius: 100px;
			background-color: $color-white;
		}

		.pwm-indicator {
			font-family: $font-family-mono;
			color: $color-font-disabled;
			font-size: $font-size-tiny;
			position: absolute;
			left: 20px;
			top: 22px;
		}

		.number {
			position: absolute;
			font-family: $font-family-mono;
			left: 20px;
			top: calc( 50% - 0.7em );
		}

		.info {
			height: 100%;
			position: absolute;
			left: $margin-project-slot-from-left;
			right: $margin-project-slot-from-right;
		}

		.use_btn {
			position: absolute;
			top: calc( 50% - 10px );
			right: 40px;
		}

		img.component-icon {
			position: absolute;
			width: 70px;
			height: 70px;
			left: 42px;
			top: calc( 50% - 35px );
			opacity: 0.8;
		}

		.close {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 10px;
			height: 10px;
			background: url('../img/icons/close.svg');
			background-size: contain;
			background-position: center center;
			background-repeat: no-repeat;
			opacity: 0.3;

			&:hover {
				opacity: 1;
			}
		}


		.type-indicator {
			font-family: $font-family-mono;
			font-size: $font-size-tiny;
			//font-weight: $font-weight-thin;

			position: absolute;
			top: calc( 50% - 0.6em );

			font-style: italic;

			&:after {
				//content: 'Type ';
				//width: 34px;
				//height: 3px;
				display: inline-block;
				margin-left: 5px;
				padding-left: 9px;
				background-size: 7px 3px;
				background-position: center left;
				background-repeat: no-repeat;
				//vertical-align: 1px;
				text-align: right;
				font-family: $font-family-reg;
				color: $color-font;
				font-weight: 500;
				font-style: normal;
				opacity: 0.4;
			}

			&.analog {
				&:after {
					background-image: url('../img/icons/analog_indicator.svg');
				}
			}
			&.digital {
				&:after {
					background-image: url('../img/icons/digital_indicator.svg');
				}
			}
			&.in {
				&:after {
					content: 'in';
				}
			}
			&.out {
				&:after {
					content: 'out';
				}
			}
		}

		.varLabel {
			
			font-family: $font-family-mono;
			color: $color-font-disabled;
			font-size: $font-size-tiny;

			position: absolute;
			top: calc( 50% + 8px );

			&:before {
				content: 'var: [';
			}
			&:after {
				content: ']';
			}

			/*
			input {
				margin-left: 2px;
				display: inline;
				font-family: $font-family-mono;
				color: $color-font-disabled;
				font-size: $font-size-tiny;
				width: calc(100% - 25px);
			}
			*/

		}

		.compName {
			
			position: absolute;
			top: calc( 50% - 24px );

			input {
				
			}
		}
	}

	&.empty {
			
		.controls {

			background: $project-color-slot-empty;

			.indicator {
				background: $color-gray-6;
			}

			.info {
				display: flex;
				align-items: center;
				color: $color-font-disabled;
				font-size: $font-size-small;
				font-family: $font-family-mono;
			}
		}
	}

	&.quickSetup {

		.controls {

			background: $project-color-slot-empty;

			.info {
				display: flex;
				align-items: center;
				color: $color-font-disabled;
				font-size: $font-size-small;
				font-family: $font-family-mono;
			}
			.use_btn {
				position: absolute;
				top: calc( 50% - 10px );
				right: 15px;
				width: 36px;
			}
			.indicator {
				background: $color-gray-6;
			}
			img.component-icon {
				opacity: 0.3;
			}
		}
	}

	&.missing, &.wrong {
		//background: linear-gradient(to right, $color-alert-high $width-project-slot-alert-bar, transparent $width-project-slot-alert-bar);

		.controls {
			.indicator {
				border-color: $color-white;
			}
			.number {
				color: $color-font-light;
			}
		}

		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			width: $width-project-slot-alert-bar;
			background: $color-alert-high;
		}
		&:after {
			content: 'Missing';
			display: block;
			position: absolute;
			right: 5px;
			bottom: 5px;
			color: $color-alert-high;
			//font-size: $font-size-tiny;
			font-weight: $font-weight-med;
		}
	}

	&.wrong {

		&:before {
			background: $color-alert-medium;
		}
		&:after {
			content: 'Wrong';
			color: $color-alert-medium;
		}
	}


}



// Change basic stuff
#setup section .separator {
	background: $color-white;
}




