/*

variable naming:
Type - Specific - Nuance
E.g. $color-ifttt-blue

1 = light -> 10 = dark

*/




// Fonts -----------------------------------------

$font-family-reg:			-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-family-mono:			'Roboto Mono', monospace;
$font-family-headline:		$font-family-reg;


$font-size-reg:				13px;
$font-size-small:			10px;
$font-size-tiny:			8px;
$font-size-med:				20px;



$font-weight-med:			500;
$font-weight-reg:			400;
$font-weight-thin:			300;




// Colours ----------------------------------------

$color-white: 				#FFFFFF;

$color-gray-1:				#f8f8f8;
$color-gray-2:				#f5f5f5;
$color-gray-3:				#f2f2f2;
$color-gray-4:				#f0f0f0;
$color-gray-5:				#eaeaea;
$color-gray-6:				#dcdcdc;
$color-gray-7:				#c1c1c1;
$color-gray-8:				#a8a8a8;
$color-gray-9:				#606060;

$color-font: 				#000000;
$color-font-med:			lighten( $color-font , 50% );
$color-font-disabled:		lighten( $color-font , 70% );

$color-font-mono:			$color-font;
$color-font-light:			$color-white;

// brand colours
$color-brand: 				#FBE941;
$color-brand-medium: 		#FBD841;
$color-brand-dark: 			#F7C510;

$color-brand-interactive: 	#1ABC9C;

// highlight colours
$color-red:					#E74C3C;
$color-green:				$color-brand-interactive;
$color-yellow:				$color-brand;

// system / buttn colours
$color-alert-high:			$color-red;
$color-alert-medium:		lighten( $color-alert-high , 10% );
$color-alert-low:			$color-yellow;
$color-alert-success:		$color-green;

// IFTTT
$color-ifttt-component:		$color-brand-interactive;
$color-ifttt-string:		#5D9BC5;
$color-ifttt-integer:		#9F63B7;
$color-ifttt-default:		$color-gray-4;
$color-ifttt-inactive:		$color-gray-5;

// menus
$opacity-dropwdown-bg:		0.93;


// Sizes ------------------------------------------

$border-radius-reg: 		2px;
$border-radius-dropdown: 	3px;


// Live View

$height-lv-header: 			90px;

$height-separator:			30px;
$height-separator-small:	24px;


// Project

$column-gap-ifttt:			12px;

// Timings ----------------------------------------

$time-reg:					0.3s;

$time-input:				0.1s;

$time-lv-valuebar:			0.1s;
$time-lv-slot:				0.3s;
$time-lv-more-arrow:		0.3s;

$time-ifttt-add-animation:	0.3s;



// Shadows ----------------------------------------
/* Rectangle 17: */
$shadow-dropdown:			0 2px 4px 0 rgba(0,0,0,0.30);



