

// live view layourt
@import "variables";



// special live-view vars: --------------


// colours
$lv-color-bg:				$color-white;

$lv-color-slot-empty:		$color-gray-5;


$lv-color-comp-list:		$color-gray-1;


// sizes
$height-lv-header:			$height-lv-header;

$height-lv-slot:			80px;

$margin-lv-from-left:		125px;
$margin-lv-from-right:		95px;
$height-lv-component-li:	$height-lv-slot / 2;


// Main --------------

body {
	background: $lv-color-bg;
}

header {
    -webkit-app-region:drag;

	width: 100%;
	height: $height-lv-header;

	background: $lv-color-bg;
	border-bottom: solid 1px $color-gray-6;

	.title {
		padding: 3px 0 6px 70px;
		padding-left: 0;
		text-align: center;
	}
}


// Specific ------------------------------
#slot-wrapper {

	height: calc( 100vh - #{$height-lv-header} );
	overflow-y: scroll;

}


.slot {

	overflow: hidden;

	.controls {

		height: $height-lv-slot;
		border-top: solid 1px $color-gray-6;

		.indicator {
			position: absolute;
			width: 6px;
			height: 6px;
			left: 10px;
			top: calc( 50% - 3px );
			border: solid 1px $color-gray-6;
			border-radius: 100px;
		}

		.number {
			position: absolute;
			font-family: $font-family-mono;
			left: 20px;
			top: 30px;
		}

		.info {
			height: 100%;
			position: absolute;
			left: $margin-lv-from-left;
			right: $margin-lv-from-right;
		}

		.use_btn {
			position: absolute;
			top: calc( 50% - 10px );
			right: 40px;
		}

		img.component-icon {
			position: absolute;
			width: 70px;
			height: 70px;
			left: 42px;
			top: calc( 50% - 35px );
		}

		.type-indicator {
			display: none;
		}
	}

	&.empty {
			
		.controls {

			background: $lv-color-slot-empty;

			.indicator {
				background: $color-gray-6;
			}

			.info {
				display: flex;
				align-items: center;
				color: $color-font-disabled;
				font-size: $font-size-small;
				font-family: $font-family-mono;
			}

			.use_btn {
				position: absolute;
				top: calc( 50% - 10px );
				right: 20px;
				width: 70px;
			}
		}
	}

	&.setup {

		.controls {

			background: $color-brand-interactive;
			color: $color-font-light;

			.info {
				display: flex;
				align-items: center;
			}
			.use_btn {
				position: absolute;
				top: calc( 50% - 10px );
				right: 20px;
				width: 70px;
			}
			.indicator {
				border-color: $color-white;
			}
		}
	}

	// The list to select the new hardware component
	.setup-component-list {
		width: 100%;
		background: $lv-color-comp-list;

		// list of components
		ul {
			
			li {

				height: $height-lv-component-li;
				border-top: solid 1px $color-gray-6;

				img.component-icon {
					opacity: 0.85;
					width: 34px;
					height: 34px;
					position: absolute;
					top: calc( 50% - 18px );
					left: 42px;
				}

				.name {
					position: absolute;
					left: 82px;
					top: calc( 50% - 0.7em );
				}
				
				&:hover {
					background: $color-white;
				}
			}
		}
	}

	// bonus controls
}


// Controls -------------------------------------------------

.slot .controls .info {

	.value-container {
		
		.value {

			font-size: $font-size-med;
			text-align: center;
			
			position: absolute;
			top: 16px;
			width: 100%;

			font-weight: $font-weight-thin;
		}
	}

	.value-bar-container {
		
		position: absolute;
		top: calc( 60% - 1px );
		width: 100%;
		height: 2px;
		background: $color-gray-7;
		border-radius: 4px;

		overflow: hidden;

		.value-bar {
			height: 100%;
			width: 20%;
			background: $color-brand-interactive;

			transition: width $time-lv-valuebar;
		}
	}

	.real-value {
		
		font-family: $font-family-mono;
		font-size: $font-size-small;
		color: $color-font-med;

		position: absolute;
		width: 100%;
		bottom: 8px;
	
		text-align: center;

		&:before {
			content: 'current value: ';
		}
	}
}
// Overall fixes ----------------------

#live-view section .separator:first-child {
	border-top: none;
}







